.img-agency{
    filter: grayscale(100%);
    filter:blur(12px);
    filter: brightness(150%);
    filter: drop-shadow(2px 2px 5px #fff5);
    float: left;

}

.img-size{
    width: 100%;
    width: 80rem;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
}

.coluna{
display: block;
width: 50%;
float: left;
font-size: 1.4rem;
}

.text{
    width: 40%;
    color: #fff;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-top: 20px;

}

.coluna.coluna-3{
columns: 100px 1;
}

.saiba-mais{
    font-size: 2rem;
    color: #fff;
    margin-top: 40px;

}